<div class="modal-header">
    <strong><span class="cal_category"></strong>
    <%= t.hidden_field :category , class: "form-control cal_category" %>
</div>

<div class="modal-body">
    <div class="form-group">
        <%= t.label "Full Name" , class: "control-label col-xs-4" %>
        <div class="input-group col-xs-7">
            <%= t.text_field :name , class: "form-control cal_name" %>
        </div>
    </div>
    <div class="form-group">
        <%= t.label "Starting Date" , class: "control-label col-xs-4" %>
        <div class="input-group col-xs-7">
            <%= t.date_field :starting_date , class: "form-control cal_start_date" %>
        </div>
    </div>
    <div class="form-group">
        <%= t.label "Ending Date", class: "control-label col-xs-4" %>
        <div class="input-group col-xs-7">
            <%= t.date_field :ending_date ,class: "form-control cal_end_date" %>
        </div>
    </div>
    <div class="form-group">
        <%= t.label "Description" , class: "control-label col-xs-4" %>
        <div class="input-group col-xs-7">
            <%= t.text_area :description , class: "form-control cal_desc" , size: "2X25" %>
        </div>
    </div>
</div>

<div class="modal-footer" id="modal-footers">
    <button class="btn btn-default" id="close" type="button" data-dismiss="modal" onclick="modal.close();">Cancel</button>
    <%= t.submit "Delete", class: "btn btn-danger", id: "delete" ,type: :hidden %>
    
    <%= t.submit "Save", class: "btn btn-primary" %>
</div>
